h1{
    position: absolute;
    left: 380px;
     font-size: 70px;
     top: 20px;
 }
 .boutton1{
     position: absolute;
     left: 840px;
     font-size:40px;
     color:black;
     border-radius: 10px;
     border: black solid 2px;   
     top: 250px;
 }
 .boutton2{
     position: absolute;
     left: 340px;
     font-size:40px;
     color:black;
     border-radius: 10px;
     border: black solid 2px;   
     top:250px;
 }
 .boutton3{
     position: absolute;
     left: 600px;
     font-size:40px;
     color:black;
     border-radius: 10px;
     border: black solid 2px;  
     top:250px;
 }
 .boutton4{
     position: absolute;
     left:600px;
     font-size:40px;
     color:black;
     border-radius: 10px;
     border: black solid 2px;  
     top: 600px;
 }

 body img{
     width:100%;
     margin:0;
     padding:0;
 }