h1{
    position: absolute;
    left: 400px;
    font-size:70px;
}
table{
    position: absolute;
    top: 220px;
    left: 550px;
    font-size:20px;
}
th{
    border:black solid 2px;
}


.boutton4{
    position: absolute;
    font-size:20px;
    color:black;
    border-radius: 10px;
    border: black solid 2px;   
    bottom:0;
}