h1{
    position: absolute;
    left: 400px;
    font-size:70px;
    color:black; 
    top: 10px;   
}
table{
    position: absolute;
    top: 220px;
    left: 550px;
    font-size:20px;
    color:white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;


    
}
th{
    border:black solid 2px;
  
}


.boutton4{
    position: absolute;
    font-size:20px;
    color:black;
    border-radius: 10px;
    border: black solid 2px;   
    bottom:0;
}
